body{
	margin-left: 10px;
	margin-right: 10px;
}
#carouselSlide{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.carousel-inner img{
	width: 100%;
}
.container{
	margin-bottom: 10px;
}
.jumbotron{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 100px;
}
.head{
	font-size: 50px;
}
.noi-dung img{
	width: 650px;
}
.noi-dung p{
	font-size: 23px;
}
.form-horizontal{
	margin-left: 13px;
}
.col-sm-3 iframe{
	width: 350px;
	height: 225px;
}
